.jumbotron {
  background-image: url("../img/burgerpic2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: light;
  color: black;
  margin-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
}

#newburger {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#leftside {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
}

#rightside {
  background-color: green;
  color: whitesmoke;
  text-align: center;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
}